<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Node JS</title>
    <style>
        body{
            color:rgb(64, 245, 3);
            background: rgb(237, 118, 81);
            text-align: center;
            padding-top: 100px;
        }
    </style>
</head>
<body>
    <h1>About Штмл сторінка </h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        Eos ad praesentium quos facilis cum nostrum explicabo magnam beatae exercitationem, 
        itaque,laudantium natus doloremque ullam eum enim. 
        Culpa reprehenderit blanditiis aperiam.</p>
        <a href="/">Головна</a><!--додаєм ссилку для переходу на іншу сторінку серверу-->
</body>
</html>