<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ошибка</title>
    <style>
        body{
            color:rgb(247, 244, 249);
            background: rgb(0, 9, 4);
            text-align: center;
            padding-top: 200px;
        }
    </style>
</head>
<body>
    <h1>Ошибка</h1>
    <p>Такої сторінки немає . Перейдіть на <a href="/">Головну</a> сторінку</p> <!--додаєм ссилку для переходу на іншу сторінку серверу-->
        
</body>
</html>