<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node JS</title>
    <style>
        body{
            color:rgb(51, 4, 96);
            background: rgb(18, 162, 76);
            text-align: center;
            padding-top: 200px;
        }
    </style>
</head>
<body>
    <h1>Штмл сторінка</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        Eos ad praesentium quos facilis cum nostrum explicabo magnam beatae exercitationem, 
        itaque,laudantium natus doloremque ullam eum enim. 
        Culpa reprehenderit blanditiis aperiam.</p>
        <a href="/about">Сторінка About</a><!--додаєм ссилку для переходу на іншу сторінку серверу-->
</body>
</html>